//
// Helpers
//

.container {
	padding: 0 $gutter;
	&--top-bottom-padding {
		padding: $gutter * 4 $gutter;
	}
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.col {
	display: flex;
	flex-flow: row wrap;
	flex: auto;
	padding: 0 $gutter;
	&--2 {
		// flex: ;
	}
	&--3 {
		@media screen and (min-width: $md-min) {
			flex: 0 1 calc(25% - #{$gutter}* 2);
		}
	}
	&--4 {
		@media screen and (min-width: $md-min) {
			flex: 0 1 calc(33.3% - #{$gutter}* 2);
		}
	}
	&--6 {
		@media screen and (min-width: $md-min) {
			flex: 0 1 calc(50% - #{$gutter}* 2);
		}
	}
	&--8 {
		@media screen and (min-width: $md-min) {
			flex: 0 1 calc(66.67% - #{$gutter}* 2);
		}
	}
	&--justify-right {
		justify-content: flex-end;
	}
}

.mb {
	&--0 {
		margin-bottom: 0;
	}
	&--double {
		margin-bottom: $gutter * 2;
	}
}

.hide {
	display: none;
}

.inactive {
	pointer-events: none;
	opacity: 0.5;
}
