html {
	height: 100%;
}

body,
#root {
	// background-color: black;
	font-family: $font-primary;
	font-weight: normal;
	font-size: $font-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	// background-color: $body-bg;
	line-height: 1.4;
	&.no-scroll {
		overflow: hidden;
	}
}

//
// Reset
//

img {
	max-width: 100%;
	height: auto;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: $font-heading;
	font-weight: normal;
	line-height: 1.2;
}
p {
	margin-top: 0;
	line-height: 1.6;
}
a {
	color: $primary;
	text-decoration: none;
}

.divider {
	height: 1px;
	background: $gray-light;
	margin: 50px 15px;
	flex: 0 1 100%;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gray-lighter;
	z-index: 99;
}

.yellow {
	color: $yellow;
}

%text,
.text {
	&--sm {
		font-size: 18px;
		@media screen and (min-width: $md-min) {
			font-size: 20px;
		}
	}
	&--md {
		font-size: 22px;
		@media screen and (min-width: $md-min) {
			font-size: 24px;
		}
	}
	&--lg {
		font-size: 28px;
		@media screen and (min-width: $md-min) {
			font-size: 38px;
		}
	}
	&--uppercase {
		text-transform: uppercase;
	}
	&--capitalize {
		text-transform: capitalize;
	}
	&--lowercase {
		text-transform: lowercase;
	}
	&--font-secondary {
		font-family: $font-secondary;
	}
	&--primary-darker {
		color: $primary-darker;
	}
	&--bold {
		font-weight: bold;
	}
	&--center {
		text-align: center;
	}
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
	&--no-margin {
		margin: 0;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.blue-check {
	color: $primary;
	font-size: 22px; 
}

// Animations
@keyframes phonering-alo-circle-img-anim {
	0% {
	    -webkit-transform:rotate(0) scale(1) skew(1deg);
			  transform:rotate(0) scale(1) skew(1deg)
	}
 
	10% {
	    -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
			  transform:rotate(-25deg) scale(1) skew(1deg)
	}
 
	20% {
	    -webkit-transform:rotate(25deg) scale(1) skew(1deg);
			  transform:rotate(25deg) scale(1) skew(1deg)
	}
 
	30% {
	    -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
			  transform:rotate(-25deg) scale(1) skew(1deg)
	}
 
	40% {
	    -webkit-transform:rotate(25deg) scale(1) skew(1deg);
			  transform:rotate(25deg) scale(1) skew(1deg)
	}
 
	50% {
	    -webkit-transform:rotate(0) scale(1) skew(1deg);
			  transform:rotate(0) scale(1) skew(1deg)
	}
 
	100% {
	    -webkit-transform:rotate(0) scale(1) skew(1deg);
			  transform:rotate(0) scale(1) skew(1deg)
	}
 }