html {
	height: 100%;
}

body,
#root {
	// background-color: black;
	font-family: $font-primary;
	font-weight: normal;
	font-size: $font-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	// background-color: $body-bg;
	line-height: 1.4;
}

//
// Reset
//

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: $font-heading;
	font-weight: normal;
	line-height: 1.2;
}
p {
	margin-top: 0;
}
a {
	color: $primary;
	text-decoration: none;
}

.divider {
	height: 1px;
	background: $gray-light;
	margin: 50px 15px;
}

%text,
.text {
	&--sm {
		font-size: 20px;
	}
	&--md {
		font-size: 24px;
	}
	&--lg {
		font-size: 38px;
	}
	&--uppercase {
		text-transform: uppercase;
	}
	&--capitalize {
		text-transform: capitalize;
	}
	&--font-secondary {
		font-family: $font-secondary;
	}
	&--primary-darker {
		color: $primary-darker;
	}
	&--bold {
		font-weight: bold;
	}
	&--center {
		text-align: center;
	}
	&--left {
		text-align: left;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
