html {
	height: 100%;
}

body,
#root {
	// background-color: black;
	font-family: $font-primary;
	font-weight: normal;
	// font-size: $font-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	// background-color: $body-bg;
	line-height: 1.4;
}

.container {
	padding: 0 $gutter;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.col {
	display: flex;
	flex: auto;
	&__2 {
		// flex: ;
	}
	&--justify-right {
		justify-content: flex-end;
	}
}

.hide {
	display: none;
}

.inactive {
	pointer-events: none;
	opacity: 0.5;
}
