// Colors
$black: black;
$white: #fafafa;
$yellow: #e5c30a;
$red: #f08080;
$green: #5aa66b;
$gray-lighter: #fafafa;
$gray-light: #cecece;
$gray: #626262;
$gray-dark: #2f2f2f;
$theme-black: #2e343b;
$primary: #2b77d0;
$primary-darker: #1b4588;

// Font Family
$font-primary: "Lato", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-heading: $font-secondary;

// Spacing
$gutter: 20px;

// Breakpoints
$md-max: 768px;
$md-min: $md-max - 1;
