// Colors
$black: black;
$white: #fff;
$yellow: #e5c30a;
$yellow-darker: #d2b100;
$red: #f08080;
$green: #5aa66b;
$green-darker: #274c2f;
$gray-lighter: #fafafa;
$gray-light: #cecece;
$gray: #626262;
$gray-dark: #2f2f2f;
$theme-black: #2e343b;
$primary: #2b77d0;
$primary-darker: #1b4588;

// Font Family
$font-primary: "Lato", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-heading: $font-secondary;
$font-size: 16px;

// Spacing
$gutter: 15px;

// Breakpoints
$lg-max: 992px;
$lg-min: $lg-max - 1;

$md-max: 768px;
$md-min: $md-max - 1;

$sm-max: 480px;
$sm-min: $sm-max - 1;
