$button-border-radius: 10px;

a.button,
.button {
	display: flex;
	border-radius: $button-border-radius;
	text-decoration: none;
	padding: 10px 25px;
	justify-content: center;
	transition: 300ms;
	cursor: pointer;
	&:hover {
		// transition: 300ms;
	}
	&.link {
		@extend %link;
	}
	&--primary {
		border: $black solid 1px;
		color: $white;
		background-color: $theme-black;
		&:hover {
			background-color: $green;
		}
	}
	&--secondary {
		border: $theme-black solid 1px;
		background-color: $primary-darker;
		color: $white;
		text-align: center;
		&:hover {
			background-color: $primary;
		}
	}
	&--inverted {
		border: $theme-black solid 1px;
		background-color: $gray-lighter;
		color: $primary-darker;
		text-align: center;
		&:hover {
			background-color: $gray-light;
		}
	}
	&--inactive {
		cursor: no-drop;
		pointer-events: none;
		opacity: 0.5;
	}
}
