$table-font-size-sm: 12px;
$table-font-size-lg: 16px;

.table {
	margin-bottom: $gutter * 4;
	th {
		background-color: $primary-darker;
		color: $white;
		padding: $gutter;
		font-size: $table-font-size-sm;
		@media screen and (min-width: $sm-min) {
			font-size: $table-font-size-lg;
		}
	}
	tr {
		background-color: $gray-lighter;
		&:nth-child(even) {
			background-color: $gray-light;
		}
	}
	td {
		padding: $gutter;
		font-size: $table-font-size-sm;
		@media screen and (min-width: $sm-min) {
			font-size: $table-font-size-lg;
		}
	}
}
