@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "./common/variables";
@import "./common/global";
@import "./elements/links";
@import "./elements//buttons";
@import "./components/header";
@import "./components/pro-list";
@import "./components/pro-card";
