.calendar {
	&__block {
		width: 100%;
		.divider {
			margin: 0;
		}
	}
	&__operating-hours {
		width: 100%;
	}
}

.calendar-wrapper {
	width: 100%;
	> div {
		width: 100%;
	}
	.react-datepicker {
		width: 100%;
		&__month-container {
			width: 100%;
		}
		&__day {
			width: 12%;
		}
		&__day-name{

			width: 2rem !important;
		}

	}
}

.block-days {
	width: 100%;
	.button {
		width: 49%;
		transition: 300ms;
		justify-content: center;
		align-items: center;
		&--full {
			width: 100%;
		}
	}
	&__row {
		margin: 20px 0;
		width: 100%;
		justify-content: space-between;
	}
	&__dates {
	
		justify-content: center;
		align-items: center;
	}
	&__btns {
		justify-content: space-between;
	}
}

.operating-hours {
	.checkbox {
		padding-bottom: $gutter/2;
	}
	.button {
		margin-top: $gutter;
		margin-bottom: $gutter*2;
	}
	select {
		background-position: center right 5px;
		padding: 10px 25px 10px 10px;
	}
}
