//onboardingForClient
.m-20{
	margin: 20px;
}
.m-40{
	margin: 40px;
}
.m-5{
	margin: 5px;
}
.dashboard {
	&__head {
	}
	&__head-goal {
		color: $green;
	}
	&__callout {
		background-color: $primary-darker;
		color: $white;
		padding: $gutter 0;
		text-align: center;
	}
	&__glance {
		background-color: $gray-lighter;
		border: $theme-black solid 1px;
		border-radius: 10px;
		padding: $gutter * 3 $gutter * 1.5;
		width: 100%;
		&--standout {
			@extend %text--lg, %text--primary-darker, %text--font-secondary;
			line-height: 1;
		}
		&--rating {
			.dv-star-rating {
				display: none !important;
			}

			.stars {
				&__rating {
					&:after {
						content: "/5";
						font-size: 50%;
					}
				}
			}
		}
	}
}

.profile-image {
	&__upload {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		margin-bottom: $gutter * 2;
		progress {
			width: 100%;
		}
		input {
			margin-bottom: $gutter * 2;
			width: 100%;
		}
	}
	&__current {
	}
}

.current-weather {
	width: 100%;
	@media screen and (min-width: $md-min) {
		text-align: right;
	}
	&__city {
		@extend .text--sm;
		font-weight: bold;
		text-transform: capitalize;
	}
	&__description {
		text-transform: capitalize;
	}
}

.motivation-quote {
	@extend .text--md;
	padding-top: $gutter*2;
	max-width: 786px;
	width: 100%;
	margin: auto;
	text-align: center;
	font-style: italic;
	// text-transform: lowercase;
	&__form {
		width: 100%;
		.form__inner {
			@media screen and (min-width: $md-min) {
				flex-flow: row nowrap;
			}
		}
		.field {
			align-items: center;
			@media screen and (min-width: $md-min) {
				flex: 0 0 calc(99% - 300px);
			}
			&:last-child {
				align-items: center;
				@media screen and (min-width: $md-min) {
					flex: 0 0 300px;
				}
			}
		}
		.button {
			height: 100%;
			align-items: center;
		}
	}
}

.autocomplete-dropdown-container {
	text-transform: none;
}
.suggestion-item span {
	// display: block;
	// padding: $gutter;
}