// Header
$header-container-padding-y: $gutter/2;

// Nav Menu
$breakpoint: 768px;
$nav-padding: 15px;
$nav-btn-width: 40px;
$bar-height: 2px;
$bar-spacing: 7px;
$hamburger-color: $theme-black;
$hamburger-color-hover: $primary;

.header {
	background-color: $gray-lighter;
	border-bottom: $theme-black solid 1px;
	font-family: $font-secondary;

	&__brand {
		padding: $header-container-padding-y 0;
	}

	&__nav {
		display: flex;
		align-items: center;
		ul {
			display: flex;
			flex-flow: row wrap;
			list-style: none;
			padding: 0;
			margin: 0;
			align-items: center;
		}
		li {
			flex: 0 1 100%;
			text-align: center;
			@media screen and (min-width: $breakpoint) {
				flex: auto;
			}
		}

		//Mobile
		position: fixed;
		background-color: $white;
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0;
		justify-content: center;
		transition: 500ms;
		@media screen and (min-width: $breakpoint) {
			position: relative;
			top: 0;
			background-color: transparent;
			justify-content: flex-end;
		}

		&--active {
			top: 0;
		}
	}

	&__nav-link {
		color: $theme-black;
		padding: 5px 15px;
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}

	&__nav-link-btn {
		text-align: center;
		justify-content: center;
		margin: 5px;
	}

	&__nav-btn-wrapper {
		z-index: 2;
		display: flex;
		align-items: center;
		@media screen and (min-width: $breakpoint) {
			display: none;
		}
	}

	&__nav-btn {
		cursor: pointer;
		position: relative;
		background: none;
		border: none;
		width: $nav-btn-width;
		height: calc(#{$bar-spacing}* 2 + #{$bar-height}* 3);
		&:hover {
			.hamburger {
				// background: $hamburger-color-hover;
				&:after,
				&:before {
					background: $hamburger-color-hover;
				}
			}
		}
	}

	&__nav-settings {
		position: relative;
	}

	&__nav-settings-btn {
	}

	&__nav-settings-results {
		display: none;
	}

	&__secondary {
		display: flex;
		justify-content: center;
	}
}

.hamburger {
	position: relative;
	background: $hamburger-color;
	transition: all 0ms 300ms;
	height: $bar-height;
	width: 100%;
	&:after,
	&:before {
		width: 100%;
		height: $bar-height;
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: $hamburger-color;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: $hamburger-color;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&--active {
		background: transparent;
		&:after {
			top: 0;
			transform: rotate(45deg);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
				transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		&:before {
			bottom: 0;
			transform: rotate(-45deg);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
				transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
}
