.interaction {
	border: $gray-light solid 1px;
	border-radius: 10px;
	background-color: $gray-lighter;
	color: $theme-black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: $gutter $gutter * 2;
	width: 100%;
	@media screen and (min-width: $md-min) {
		flex-flow: row nowrap;
	}

	&__user {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		flex: auto;
		@media screen and (min-width: $md-min) {
			justify-content: flex-start;
		}
	}
	&__user-img {
		margin-right: $gutter;
		img {
			width: 100%;
			max-width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
			border: $gray-light solid 1px;
		}
	}
	&__user-name {
	}
	&__snippet {
		flex: 0 1 60%;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
	}
	&__type {
		flex: 0 1 20%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-transform: uppercase;
	}
	&--inquiry {
		.interaction__type {
			color: $yellow-darker;
		}
	}
	&--booking {
		.interaction__type {
			color: $green;
		}
	}
}

.interaction-list {
	width: 100%;
}

.interaction-details {
	h3,
	p {
		margin-bottom: 0;
	}
	&__summary {
		border: $theme-black solid 1px;
		border-radius: 10px;
		background-color: $gray-lighter;
		padding: $gutter * 2;
		width: 100%;
		margin-bottom: $gutter;
		@media screen and (min-width: $md-min) {
			padding: $gutter * 4;
		}

		> div {
			margin-bottom: $gutter * 2;
		}
	}
	&__summary-meta {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__summary-image {
		flex: 0 1 80px;
		img {
			border-radius: 50%;
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	}
	&__summary-pricing {
		p {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}
	&__summary-name {
		flex: 0 1 75%;
	}
	&__buttons {
		flex: 0 1 100%;
		.link {
			margin: 0 auto $gutter;
		}
	}
}
