$user-image-size: 80px;

.interaction {
	border: $gray-light solid 1px;
	border-radius: 10px;
	background-color: $gray-lighter;
	color: $theme-black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: $gutter $gutter * 2;
	width: 100%;
	@media screen and (min-width: $md-min) {
		flex-flow: row nowrap;
	}
	&--unread {
		border: $black solid 1px;
	}

	&__user {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		flex: auto;
		position: relative;
		@media screen and (min-width: $md-min) {
			justify-content: flex-start;
		}
	}
	&__user-img {
		margin-right: $gutter;
		img, .initials {
			width: $user-image-size;
			height: $user-image-size;
			object-fit: cover;
			border-radius: 50%;
			border: $gray-light solid 1px;
		}
	}
	&__user-name {
	}
	&__snippet {
		flex: 0 1 60%;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
	}
	&__type {
		flex: 0 1 20%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-transform: uppercase;
	}
	&--inquiry {
		.interaction__type {
			color: $yellow-darker;
		}
	}
	&--booking {
		.interaction__type {
			color: $green;
		}
	}

	.new {
		color: $red;
		position: absolute;
		font-size: 12px;
		font-weight: bold;
		top: 0;
		left: $user-image-size/1.5;
		background: black;
		padding: 0 5px;
	}
}

.interaction-list {
	width: 100%;
}

.interaction-details {
	h3,
	p {
		margin-bottom: 0;
	}
	&__summary {
		border: $theme-black solid 1px;
		border-radius: 10px;
		background-color: $gray-lighter;
		padding: $gutter * 2;
		width: 100%;
		margin-bottom: $gutter;
		@media screen and (min-width: $md-min) {
			padding: $gutter * 4;
		}

		> div {
			margin-bottom: $gutter * 2;
		}
	}
	&__summary-meta {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__summary-image {
		flex: 0 1 80px;
		.initials {
			width: 70px;
			height: 70px;
		}
		img {
			border-radius: 50%;
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	}
	&__summary-pricing {
		p {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}
	&__summary-name {
		flex: 0 1 75%;
	}
	&__buttons {
		flex: 0 1 100%;
		.link {
			margin: 0 auto $gutter;
		}
		button {
			margin-bottom: $gutter;
		}
	}
	&__time-booked {
		font-size: 12px;
		color: $gray;
		font-style: italic;
	}
}

.interaction-call {
	&--component {
		width: 100%;
		margin-bottom: $gutter;
	}
}

.call-status {
	margin-top: $gutter/2;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}

.chat {
	&__video {
		width: 100%;
		height: auto;
		background-color: $gray-light;
		background-image: url(../../images/ellipsis.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px;
		border: $theme-black solid 1px;
	}
}

.incoming-call {
	position: fixed;
	top: 15vh;
	right: -50%;
	background-color: $primary-darker;
	line-height: 1;
	padding: 10px;
	border-left: $gray-dark solid 3px;
	border-top: $gray-dark solid 1px;
	border-bottom: $gray-dark solid 1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: $white;
	font-size: 16px;
	transition: 300ms;
	display: flex;
	align-items: center;
	white-space: nowrap;
	z-index: -999999;
	opacity: 0;
	&:hover {
		background-color: $primary;
	}
	&--calling {
		right: 0;
		opacity: 1;
		z-index: 999999;
	}
	.phoning {
		margin-right: 10px;
		svg {
			animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
			transform-origin:50% 50%
		}
	}
	span {
		margin-top: 2px;
	}
}