$message-image-size: 68px;

.message {
	width: 100%;
	&__history {
	}
	&__create {
		margin-bottom: $gutter*2;
		form {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}
		textarea {
			border: $gray solid 1px;
			border-radius: 10px;
			flex: 0 1 100%;
			font-family: $font-primary;
			font-size: $font-size;
			padding: $gutter;
			width: 100%;
			margin-bottom: $gutter/2;
		}
	}
	&__content {
		flex: 0 1 calc(100% - #{$gutter} - #{$message-image-size});
	}
	&__content-time {
		padding-top: $gutter/2;
		color: $gray;
		font-size: 12px;
		flex: 0 1 100%;
	}
	&__content-sent {
		background-color: $gray-lighter;
		border-radius: 10px;
		padding: $gutter;
	}
	&__item {
		margin-bottom: $gutter * 4;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		&--receiver {
			flex-flow: row-reverse wrap;
		}
		&--init {
			// width: 100%;
			.message {
				&__content-sent {
					width: 100%;
					padding: $gutter * 2;
					background-color: $yellow;
				}
			}
		}
	}
	&__sender {
		flex: 0 1 $message-image-size;
		font-size: 12px;
		img, .initials {
			border-radius: 50%;
			border: $red solid 1px;
			width: $message-image-size;
			height: $message-image-size;
			object-fit: cover;
			letter-spacing: -2px;
		}
	}
}
