$button-close-size: 45px;

body.dimmed {
	overflow: hidden;
}

.modals {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: fixed;
	display: none;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 300ms;
	padding: $gutter * 2;
	&--active {
		display: flex;
		opacity: 1;
	}
	&__container {
		overflow: scroll;
		height: 100%;
	}
	&__inner {
		width: 100%;
		max-width: 600px;
		max-height: calc(100% - #{$gutter * 3});
		padding: $gutter * 2;
		border-radius: 10px;
		border: $theme-black solid 1px;
		background: $gray-lighter;
		position: relative;
		overflow: scroll;
	}
	&__btn {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	&__close {
		background-color: $theme-black;
		font-size: 16px;
		font-weight: bold;
		color: white;
		width: $button-close-size;
		height: $button-close-size;
		border-radius: 50%;
		border: $theme-black solid 1px;
		padding: 0;
		line-height: 2.8;
		cursor: pointer;
		// bottom: calc(100% - #{$button-close-size/2});
		// left: calc(100% - #{$button-close-size/2});
		&:hover {
			background-color: $primary-darker;
		}
	}
	&__form {
		display: flex;
		flex-flow: row wrap;
	}
	&__status {
		margin-top: $gutter;
		padding: $gutter;
		border-radius: 5px;
		&--sent {
			background-color: $green;
			color: $white;
			font-weight: bold;
		}
	}

//newModal
.new-inner {
	width: 100%;
	max-width: 600px;
	max-height: calc(100% - #{$gutter * 3});
	padding: $gutter * 2;
	border-radius: 10px;
	border: $theme-black solid 1px;
	background: $gray-lighter;
	position: relative;
	
}

.filterHeader{
	text-align: center;
	padding: 10px;
}







	// Older
	.visible {
		opacity: 1;
		display: flex;
	}
	.description {
		padding: $gutter;
		// overflow: scroll;
	}
	.content {
		overflow: scroll;
		height: 100%;
	}
	.actions {
		.button {
			background-color: $theme-black;
			position: absolute;
			font-size: 16px;
			font-weight: bold;
			color: white;
			width: $button-close-size;
			height: $button-close-size;
			border-radius: 50%;
			border: $theme-black solid 1px;
			padding: 0;
			bottom: calc(100% - #{$button-close-size/2});
			left: calc(100% - #{$button-close-size/2});
			&:hover {
				background-color: $primary-darker;
			}
		}
	}
}
