.profile {
	&__booking {
		background-color: $gray-lighter;
		border: $gray-light solid 1px;
		border-radius: 10px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		position: relative;
		&--inquiry {
			border: none;
			background-color: transparent;
		}
		&--submitting {
			.loading {
				&.loading--active {
					z-index: 1;
					opacity: 0.6;
				}
			}
		}
		.loading {
			background: $white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: 300ms;
		}
	}
	&__booking-price {
		padding: $gutter * 3 $gutter * 1.5;
		text-align: center;
		text-transform: uppercase;
		.field {
			> label {
				@extend .screen-reader-text;
			}
		}
	}
	&__booking-price-number {
		&:after {
			content: " / hr";
			font-size: 16px;
		}
	}
	&__cancellation {
		padding: $gutter * 2 0;
		width: 100%;
	}
	&__nav,
	&__about,
	&__professional-background,
	&__credentials,
	&__faq,
	&__reviews {
		width: 100%;
	}
	&__meta,
	&__image,
	&__about,
	&__professional-background,
	&__credentials,
	&__faq,
	&__reviews {
		margin-bottom: $gutter * 2;
		@media screen and (min-width: $md-min) {
			margin-bottom: $gutter * 3;
		}
		h2 {
			font-size: 20px;
			@media screen and (min-width: $md-min) {
				font-size: 24px;
			}
		}
	}
	&__faq {
		.col {
			padding: 0;
		}
		.accordion {
			.title {
				@extend .text--sm
			}
			.content {
				font-size: 16px
			}
		}
	}
	&__nav {
		border-bottom: $gray-light solid 1px;
		margin-bottom: $gutter * 2;
		a {
			color: $gray;
			font-family: $font-secondary;
			font-size: 14px;
			@media screen and (min-width: $md-min) {
				font-size: $font-size;
			}
			&:hover {
				color: $theme-black;
			}
		}
	}
	&__image {
		@media screen and (min-width: $md-min) {
			width: 35%;
		}
	}
	&__meta {
		@media screen and (min-width: $md-min) {
			width: 65%;
		}
	}
	&__meta-inner {
		@media screen and (min-width: $md-min) {
			padding-left: 20px;
		}
	}
	&__meta-title {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: $gutter;
		@media screen and (min-width: $md-min) {
			margin-bottom: 0;
		}
		h1 {
			margin-right: $gutter;
		}
	}
	&__meta-spec {
		margin-bottom: $gutter;
	}
	&__meta-btns {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		margin: $gutter 0 $gutter * 2;
	}
	&__meta-btn {
		flex: 0 1 100%;
		margin-bottom: $gutter;
		@media screen and (min-width: $md-min) {
			flex: 0 1 49%;
		}
	}
}

.additional {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	&__box {
		flex: 0 1 100%;
		padding: $gutter;
		margin-bottom: $gutter;
		background-color: $green;
		border: $gray-dark solid 1px;
		border-radius: 10px;
		color: $white;
		@media screen and (min-width: $md-min) {
			flex: 0 1 calc(49% - #{$gutter * 3});
		}
		&--secondary {
			background-color: $red;
		}
	}
}

.share {
	&__btns {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
	&__btn {
		@extend %button;
		display: flex;
		align-items: center;
		flex: 0 1 100%;
		background-color: $primary;
		color: white;
		margin-bottom: $gutter;
		&:hover {
			background-color: $primary-darker;
		}
		svg {
			margin-left: $gutter;
		}
	}
}
