.status {
	text-align: center;
	padding: $gutter;
	transition: 500ms;
	
	&--warning {
		background-color: $yellow;
	}
	&--danger {
		background-color: $red;
		// color: white;
	}
	&--success {
		background-color: $green;
		color: white;
	}
	&--full {
		width: 100%;
	}
}
