.react-tabs {
	-webkit-tap-highlight-color: transparent;
	width: 100%;

	&__tab-list {
		border-bottom: 1px solid $gray-light;
		margin: 0 0 $gutter * 2;
		padding: 0;
	}

	&__tab {
		display: inline-block;
		border: 1px solid transparent;
		border-bottom: none;
		bottom: -1px;
		position: relative;
		list-style: none;
		padding: $gutter/2 $gutter * 2;
		cursor: pointer;
		transition: 300ms;
		&:hover {
			color: $primary;
		}

		&--selected {
			background: $white;
			border-color: $gray-light;
			color: $theme-black;
			border-radius: 5px 5px 0 0;
		}

		&--disabled {
			color: $gray;
			cursor: default;
		}

		&:focus {
			box-shadow: 0 0 5px hsl(208, 99%, 50%);
			border-color: hsl(208, 99%, 50%);
			outline: none;

			&:after {
				content: "";
				position: absolute;
				height: 5px;
				left: -4px;
				right: -4px;
				bottom: -5px;
				background: $white;
			}
		}
	}

	&__tab-panel {
		display: none;
		padding: $gutter/2 0;

		&--selected {
			display: block;
		}
	}
}
